@import "../fonts/stylesheet.css";
body{
    font-family: 'SFRounded', sans-serif;
    background-color: #141414;
}
.container{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}
.bg-color-gray50{
    background-color: #1F1F1F;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
}

.header-sticky{
    background: rgba(15, 15, 15, 0.9);
    backdrop-filter: blur(40px);
    position: sticky;
    top: 0;
    z-index: 3;
}
.header-sticky-mobile{
    background: rgba(15, 15, 15, 1);
}

.header-nav{
    display: flex;
    column-gap: 24px;
}
.nav-item{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}

.nav-item-inactive{
    color:#757575;
}

.icon-logo{
    width: 87px;
    height: 40px;
    filter: brightness(0) saturate(100%) invert(91%) sepia(0%) saturate(7500%) hue-rotate(271deg) brightness(111%) contrast(111%);
}

.order-btn-small{
    padding: 9px 16px;
    background-color: #1963D1;
    color: #FFF;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 600;
}

.order-btn-small:hover{
    background-color: #0F59C7;
}

.icon-menu{
    width: 32px;
    height: 32px;
    filter: brightness(0) saturate(100%) invert(91%) sepia(0%) saturate(7500%) hue-rotate(271deg) brightness(111%) contrast(111%);
}

.icon-sm{
    width: 24px;
    height: 24px;
    filter: brightness(0) saturate(100%) invert(91%) sepia(0%) saturate(7500%) hue-rotate(271deg) brightness(111%) contrast(111%);
}

.icon-sm:hover{
    filter: brightness(0) saturate(100%) invert(24%) sepia(89%) saturate(1979%) hue-rotate(206deg) brightness(95%) contrast(88%);
}

.header-burger{
    padding: 0;
    display: none;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order-btn-medium{
    padding: 14px 20px;
    background-color: #1963D1;
    color: #FFF;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 600;
}

.order-btn-medium:hover{
    background-color: #0F59C7;
}

.main-btn{
    margin-top: 2rem;
    margin-bottom: 2.75rem;
}
.main-headline{
    font-size: 64px;
    font-weight: 700;
    max-width: 570px;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
    color: #FFFFFF;
}
.main-desc{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
}
.offers{
    padding: 80px 0;
}
.outline-btn-medium{
    padding: 14px 20px;
    background-color: transparent;
    color: #FFF;
    border-radius: 40px;
    border: 2px solid #FFFFFF;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
}
.outline-btn-medium:hover{
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

.outline-btn-light-blue:hover{
    color: #004266;
}

.outline-btn-dark-blue:hover{
    color: #122D4E;
}

.offers-flex{
    display: flex;
    column-gap: 30px;
}
.offers-item{
    border-radius: 32px;
    padding: 48px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    position: relative;
    overflow: hidden;
}
.offers-card{
    background: #004266;
}
.offers-atm{
    background: #122D4E;
}
.offers-header{
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 12px;
}

.offers-desc{
    color: #FFFFFF;
    opacity: 0.8;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 60px;
}
.offers-text{
    z-index:2;
}

.offers-img{
    max-width: 270px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.mobile{
    background: linear-gradient(90deg, #1E2834 23.33%, #141E2A 92.26%);
    border-radius: 40px;
    margin: 80px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}
.mobile-img{
    align-self: end;
    justify-self: center;
}

.mobile-text{
    padding: 100px 100px 100px 0;
}
.mobile-header{
    margin-top: 12px;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
    color: #FFFFFF;
}

.mobile-desc{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 0.8;
    padding-bottom: 8px;
}
.mobile-download{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
}

.mobile-btn{
    display: none;
}

.how-to-add-card{
    padding: 80px 100px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 130px;
}

.how-to-header{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.how-to-tabs{
    margin-bottom: 24px;
    display: flex;
    column-gap: 8px;
    overflow: auto;
}

.how-to-btn{
    background: #1F1F1F;
    border: 2px solid transparent;
    border-radius: 20px;
    font-family: 'SFRounded', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #AFAFAF;
    padding: 9px 16px;
    white-space: nowrap;
}
.how-to-btn:hover{
    background: #333333;
    color: #AFAFAF;
    cursor: pointer;
}

.how-to-btn-active{
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    font-family: 'SFRounded', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #141414;
    padding: 9px 16px;
    white-space: nowrap;
}

.how-to-btn-active:hover{
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    color: #141414;
}

.how-to-desc{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.8;
    margin-bottom: 40px;
}
.how-to-add-card-icons{
    display: flex;
    column-gap: 20px;
}
.apple-pay-logo{
    height: 48px;
    width: 74px;
}
.wallet{
    height: 48px;
    width: 48px;
}

.how-to-add-card-img{
    grid-area: 1 / 2 / span 3 / span 3;
}

.how-to-pay{
    padding: 80px 100px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    column-gap: 130px;
}
.how-to-pay-video{
    width: 370px;
    height: 240px;
    background-image:url('../img/Rectangle 155.png');
    border-radius: 32px;
    background-size: cover;
}

.how-to-pay-video-opacity{
    width: 370px;
    height: 240px;
    border-radius: 32px;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.how-to-pay-play-btn{
    font-family: 'SFRounded', sans-serif;
    background-color: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    padding: 14px 20px;
    display: flex;
    column-gap: 9px;
    justify-content: center;
    align-items: center;
}

.how-to-pay-video:hover{
    cursor: pointer;
}

.how-to-pay-video:hover .how-to-pay-play-btn{
    background: #1963D1;
    color: #FFFFFF;
    cursor: pointer;
}

.icon-play{
    width: 16px;
    height: 16px;
}

.how-to-pay-video:hover .icon-play{
    filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(0%) hue-rotate(140deg) brightness(110%) contrast(102%);
    cursor: pointer;
}

.how-to-pay-video:hover .how-to-pay-video-opacity{
    background: rgba(0, 0, 0, 0.4);
}

.footer{
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-nav{
    display: flex;
    column-gap: 1.5rem;
}

.footer-logos{
    display: flex;
    column-gap: 1.25rem;
}
.footer-rectangle{
    width: 2px;
    height: 32px;
    background: #FFFFFF;
    opacity: 0.3;
    border-radius: 2px;
}
.footer-sm-links{
    display: flex;
    column-gap: 0.5rem;
}

.icon-logo-footer{
    width: 87px;
    height: 40px;
    filter: brightness(0) saturate(100%) invert(91%) sepia(0%) saturate(7500%) hue-rotate(271deg) brightness(111%) contrast(111%);
}

.advantages {
    padding: 80px 0;
}

.advantages-item{
    border-radius: 32px;
    padding: 48px 40px 24px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.advantages-1{
    background-color: #D0E9FF;
}
.advantages-2{
    background-color: #333333;
}
.advantages-3{
    background-color: #FFD6B1;
}
.advantages-icon-1{
    filter: brightness(0) saturate(100%) invert(28%) sepia(61%) saturate(428%) hue-rotate(166deg) brightness(103%) contrast(88%);
}
.advantages-icon-2{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7489%) hue-rotate(341deg) brightness(102%) contrast(101%);
}
.advantages-icon-3{
    filter: brightness(0) saturate(100%) invert(40%) sepia(61%) saturate(333%) hue-rotate(347deg) brightness(93%) contrast(91%);
}
.advantages-header{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    padding-bottom: 12px;
}

.advantages-desc{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding-bottom: 24px;
}

.advantages-icon{
    width: 160px;
    height: 160px;
}

.black{
    color: #000000;
}

.white{
    color: #FFFFFF;
}

.gray700{
    color: #333333;
}

.gray300{
    color: #CBCBCB;
}

.accordion{
    padding: 80px 200px;
}

.accordion-header{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    padding-bottom: 36px;
    color: #FFFFFF;
}

.ac{
    margin-top: 12px;
    border: none;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.02);
    padding: 24px;
}

.ac .ac-trigger{
    border: none;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
    padding: 0;
    transition: padding-bottom .3s linear;
}

.ac.is-active{
    background-color: #0F59C7;
}

.ac-icon{
    width: 20px;
    height: 20px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(306deg) brightness(103%) contrast(101%);
    transition: transform .3s linear;
}

.ac.is-active .ac-icon{
    transform: rotate(180deg);
    transition: transform .3s linear;
}


.ac .ac-trigger::after {
    content: ' ';
}

.ac.is-active .ac-header .ac-trigger::after {
    content: ' ';
}


.ac.is-active .ac-trigger{
    transition: padding-bottom .3s linear;
}

.ac .ac-trigger:focus{
    color: #FFFFFF;
}
.ac-question{
    font-family: 'SFRounded', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.ac .ac-panel .ac-text{
    font-family: 'SFRounded', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 16px 0 0 0;
}

.mobile-nav-container{
    position: fixed;
    top:4.6875rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #141414;
    padding: 1.5rem 1rem;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    z-index: 5;
    display: none;
    transform: translateX(100%);
    transition: all .4s ease-in-out;
}

.m-nav-item{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.of-hidden{
    overflow: hidden;
}

.hidden{
    display: none;
}


.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 10;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    background-color: #141414;
    padding: 1rem;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    width: 75%;
    max-width: 640px;
}

.modal-btn{
    align-self: flex-end;
}
.modal-btn:hover{
    cursor: pointer;
}

.modal-video{
    border-radius: 24px;
    height: 24rem;
}

.icon-close{
    height: 32px;
    width: 32px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(306deg) brightness(103%) contrast(101%);
}

