@media only screen and (max-width: 1034px){
    .offers{
        padding: 50px 0;
    }
    .offers-item{
        padding: 24px;
        border-radius: 24px;
        grid-template-columns: auto;
    }
    .offers-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .offers-header{
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }

    .offers-desc{
        padding-bottom: 32px;
        text-align: center;
    }
    .offers-img{
        display: none;
    }

    .mobile{
        overflow: hidden;
        border-radius: 24px;
        margin: 32px 0;
    }
    .mobile-img{
        padding: 48px 48px 0 48px;
    
    }
        .mobile-header{
            text-align: center;
            font-size: 36px;
            line-height: 40px;
        }
        
        .mobile-text{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 48px 48px 48px 0;
        }
        .mobile-desc{
            font-size: 16px;
        }

        .how-to-add-card{
            padding: 40px 50px;
            column-gap: 70px;
        }
        
        .how-to-header{
            font-size: 32px;
            line-height: 38px;
        }
        
        .how-to-desc{
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 40px;
        }

        .how-to-pay{
            padding: 40px 50px;
            column-gap: 70px;
        }
    
        .how-to-pay-video{
            width: 288px;
            height: 186px;
            border-radius: 24px;
        }
    
        .how-to-pay-video-opacity{
            width: 288px;
            height: 186px;
            border-radius: 24px;
        }

        .accordion{
            padding: 50px;
        }

}



@media only screen and (max-width: 767px) {
    .container {
        width: 100%;
    }

    .header-nav {
        display: none;
    }

    .header-order {
        display: none;
    }

    .header-burger {
        display: flex;
    }


    .main-headline {
        font-weight: bold;
        font-size: 32px;
        line-height: 38px;
        margin-top: 2.5rem;
        margin-bottom: 12px;
    }

    .main-desc {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;

    }

    .main-btn {
        margin-top: 20px;
        margin-bottom: 24px;
    }
    .offers{
        padding: 32px 0;
    }
    .offers-flex{
        flex-direction: column;
        column-gap: 0;
        row-gap: 16px;
    }
    .offers-item{
        padding: 24px;
        grid-template-columns: auto;
    }
    .offers-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .offers-header{
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }

    .offers-desc{
        padding-bottom: 32px;
        text-align: center;
    }
    .offers-img{
        display: none;
    }
.mobile{
    margin: 32px 0;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    overflow: hidden;
}
    .mobile-header{
        margin-top: 8px;
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }
    .mobile-download{
        display: none;
    }
    .mobile-btn{
        display: block;
    }
    .mobile-img{
        order:2;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 12px;
        margin-bottom: -60px;
    }
    .mobile-text{
        order:1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px;
    }

    .how-to-add-card{
        padding: 32px 0;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        row-gap: 32px;
        justify-items: center;
    }
    
    .how-to-header{
        font-size: 32px;
        line-height: 38px;
        text-align: center;
    }
    
    .how-to-desc{
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 0;
        text-align: center;
    }
    .how-to-add-card-icons{
      display: flex;
      column-gap: 20px;  
    }
    
    .how-to-add-card-img{
        grid-area: 2 / 1 / 3 / 2;
    }

    .how-to-pay{
        padding: 32px 0;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        row-gap: 24px;
        justify-items: center;
    }

    .how-to-pay-video{
        width: 288px;
        height: 186px;
    }

    .how-to-pay-video-opacity{
        width: 288px;
        height: 186px;
    }

    .footer{
        padding-top: 16px;
        padding-bottom: 16px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        row-gap: 32px;
        
    }
    .footer-nav{
        order: 1;
        flex-direction: column;
        column-gap: 0;
        row-gap: 20px;
    }
    
    .footer-logos{
        order: 3;
        background-color: #000000;
        border-radius: 8px;
        padding-bottom: 12px;
        padding-top: 12px;
        grid-area: 2 / 1 / span 3 / span 3;
        justify-content: center;
        align-items: center;
    }
    
    .footer-sm-links{
        order: 2;
        flex-direction: column;
        column-gap: 0;
        row-gap: 8px;
        align-items:flex-end;
    }

    .footer-rectangle{
        background: #545454;
    }

    .icon-logo-footer{
        filter: brightness(0) saturate(100%) invert(99%) sepia(7%) saturate(172%) hue-rotate(204deg) brightness(114%) contrast(100%);
    }

    .swiper.advantages {
        padding-top: 32px;
        padding-bottom: 16px;
      }
    
      .advantages-item{
          padding: 32px 24px 16px 24px;
          border-radius: 24px;
      }

      .advantages-header{
        font-size: 24px;
        line-height: 28px;  
      }
    
      .advantages-desc{
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 12px;
      }

    .advantages-icon{
        width: 120px;
        height: 120px;
    }

      .accordion{
        padding: 32px 0;
    }
    
    .accordion-header{
        font-size: 32px;
        line-height: 38px;
        padding-bottom: 12px;
    }

    .ac{
        margin-top: 16px;
        padding: 16px;
}

    .ac .ac-panel .ac-text{
        padding: 12px 0 0 0;
    }

.visible{
    transform: translateX(0);
}
    .mobile-nav-container{
        display: flex;
    }


.mobile-nav-btn{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    margin: auto 0;
}

.mobile-nav{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.header-sm-links{
    display: flex;
    column-gap: 0.5rem;

}
    .modal-video{
        height: 15rem;
    }

}










